<div class="experience-content">
    <h1>Experience</h1>
    <h2>Assistant Student at UNLP</h2>
    <h3>February 2023 - present</h3>
    <div class="experience-paragraph">
        <p>
            I work closely with university students to help them understand key concepts and overcome challenges in their coursework. 
            <br>
            Assistant student in the subject of Programming 3, taught at the Faculty of
            Informatics of the National University of La Plata. Teaching of Data Structures,
            Oriented Object programming fundamentals, Big O notation and Recursive Functions in Java.
        </p>
    </div>
</div>