<div class="about-tittle">
    <h1>About</h1>        
</div>

<div class="about-content">
    <div calss="about-text">
        <p>
            Hello! my name is Markos, and I'm currently a trainee in web development. I'm
            passionate about learning and growing my skills as a developer, and I'm
            excited about the opportunities that lie ahead.
            <br />
            <br />
            I'm excited to bring my enthusiasm and passion for development to the table,
            and I'm eager to collaborate with others and work on real-world projects that
            will help me gain practical experience and hone my skills. Whether you're a
            potential client or an experienced developer looking to collaborate, I'm
            always open to new opportunities and challenges, and I look forward to seeing
            where this journey takes me.
            <br />
            <br />
            Technologies I work with:
        </p>
        <ul class="technology">
            <li>
                <p>JavaScript (ES6+)</p>
            </li>
            <li>
                <p>Angular</p>
            </li>
            <li>
                <p>Java</p>
            </li>
            <li>
                <p>TypeScript</p>
            </li>
            <li>
                <p>MongoDB</p>
            </li>
            <li>
                <p>SQL</p>
            </li>
        </ul>
    </div>
    <img
        class="personal-photo"
        src="..\assets\images\personal-photo.jpeg"
    />
</div>