.contact-content{
    margin: 0 auto;
    display: table;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.link{
    text-align: center;
}
a{
    color:var(--second-color);
}