<footer>
    <div class="footer-content">
        <div class = "social-media-bar">
            <ul class = "social-media-column">
                <a href="https://github.com/markosAMO" target="_blank">
                    <li>
                        <mat-icon class="github-icon" svgIcon="github"></mat-icon>
                    </li>
                </a>
                <a href="https://www.linkedin.com/in/markos-moscoso-ocampo-42b7841a3/" target="_blank">
                    <li>
                        <mat-icon class="linkedIn-icon" svgIcon="linkedIn"></mat-icon>
                    </li>
                </a>
                <a href="mailto:{{this.email}}">
                    <li>
                        <mat-icon class="gmail-icon" svgIcon = 'gmail'></mat-icon>
                    </li>
                </a>
            </ul>
        </div>
        <div class="footer-description">
            <p>Designed & Built by Markos Moscoso</p>
        </div>
    </div>
</footer>