<div class="main">
    <section calss="introduction-section">
        <introduction-component></introduction-component>
    </section>
    <section class="about-section" id="about">
        <about-component></about-component>
    </section>
    <section class="experience-section" id="experience">
        <experience-component></experience-component>
    </section>
    <section class="project-section" id="projects">
        <project-component></project-component>
    </section>
    <section class="contact-section" id="contact">
        <contact-component></contact-component>
    </section>

    
</div>
