section{
    margin: 0px auto;
}
.main{
    width: 100%;
    padding: 0 5%;
}
@media (max-width: 480px){
    .main{
        padding: 0px 25px;
    }  
}
@media (max-width: 480px){
    .main{
        padding: 0px 25px;
    }  
}
@media (max-width: 768px){
    .main {
        display: block;
    }
}
@media (max-width: 1080px){
    .main {
        left: auto;
        right: 20px;
    }
}
.project-section{
    max-width: 1000px;
    margin: 0px auto;
    padding: 100px 0px;
 //   display: flex;
 //   align-items: center;
 //   justify-content: center;
}
.about-section{
    padding-bottom: 150px;
    height: auto;
    height: auto;
    margin: 0px auto;
}
.experience-section{
    height: auto;
    max-height: auto;
    margin: 0px auto;
    padding: 100px 0px;
}
.contact-section{
    height: auto;
    margin: 0px auto;
    padding: 100px 0px;
}
.introduction-section{
    min-height: 100vh;
    height: 100vh;
    padding: 0px;
    margin: 0px auto;
    flex-direction: column;
    
}