.navbar-brand{
    margin-left: 10px;
}

a{
    color:#70C1B3;
}

.navbar{
    border: 2px solid #E63946;
    border-radius: 0;
}
.navbar-brand{
    color:#E63946;
}

.nav-item{
    margin-right: 5px;
}
.navbar-nav {
    margin-left: auto;
  }
.imagen{
    width: 30px;
    height: auto;
}
.navbar-toggler {
    margin-right: 10px;
    background-color: #70C1B3 !important;
}
.navbar-nav li.nav-item:hover a.nav-link {
    color: #E63946 !important;
  }
.navbar-toggler-icon {
    color: #70C1B3;
}
@media (max-width: 767px) {
    .navbar-nav {
      margin: 0 auto;
      display: table;
      table-layout: fixed;
      float: none;
    }  
    .navbar-nav > li > a {
      display: block;
      text-align: center;
    }
  }