.navbar-brand{
    margin-left: 10px;
}

a{
    color:var(--second-color);
}

.navbar{
    border: 2px solid var(--main-color);
    border-radius: 0;
}
.navbar-brand{
    color:var(--main-color);
}

.nav-item{
    margin-right: 5px;
}
.navbar-nav {
    margin-left: auto;
  }
.imagen{
    width: 30px;
    height: auto;
}
.navbar-toggler {
    margin-right: 10px;
    background-color: var(--second-color) !important;
}
.navbar-nav li.nav-item:hover a.nav-link {
    color: var(--main-color) !important;
  }
.navbar-toggler-icon {
    color: var(--second-color);
}
@media (max-width: 767px) {
    .navbar-nav {
      margin: 0 auto;
      display: table;
      table-layout: fixed;
      float: none;
    }  
    .navbar-nav > li > a {
      display: block;
      text-align: center;
    }
  }