
<nav class="navbar navbar-expand-md">
    <a class="navbar-brand" href="#"><img class="imagen" src="..\assets\images\Blue and White Circuit Technology Logo (1200 × 1200 px).png"></a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed=!isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link"  href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#experience">Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#projects">Projects</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#contact">Contact</a>
        </li>
        <li class="nav-item ml-auto resume">
            <a class="nav-link button-similarity" href="..\assets\files\Markos_Alonso_Moscoso_Ocampo_CV.pdf"  target="_blank">Resume</a>
        </li>
      </ul>
    </div>
  </nav>
