<div class="content-project">
    <div class="projects-tittle">
        <h1>Projects</h1>
    </div>
    <ul class="projects-grid">
        <li class="project">
            <div class="cardP">
                <img class="project-image img1" src="..\assets\images\Blue and White Circuit Technology Logo (1200 × 1200 px).png" />
                <div class="content-displayed">
                    <div class="project-description">
                        <header>
                            <h3 class="card-tittle">This Portfolio</h3>
                            <p>Take a look at the code for make this portfolio!</p>
                        </header>
                        <footer>
                            <ul class="technologies-list">
                                <li><p>Angular</p></li>
                                <li><p>HTML</p></li>
                                <li><p>CSS</p></li>
                            </ul>
                            <button (click)="
                  openPdf(
                    '..\\assets\\files\\proyecto_LINTI_2023-PREDICCIÓN_DE_ENFERMEDADES_EN_CULTIVOS_AGROECOLÓGICOS.pdf'
                  )
                ">
                                Read More
                            </button>
                        </footer>
                    </div>
                </div>
            </div>
        </li>
        <li class="project">
            <div class="cardP">
                <img class="project-image" src="../assets/images/Smart-Agro.png" />
                <div class="content-displayed">
                    <div class="project-content">
                        <header>
                            <h3 class="card-tittle">
                                Remote Monitoring of Plant Health using LoRa Technology
                            </h3>
                            <p>
                                A project for preventing foliar illneses in plants for the rural
                                areas of La Plata city.
                            </p>
                        </header>
                        <footer>
                            <ul class="technologies-list">
                                <li><p>C++</p></li>
                                <li><p>LoRa</p></li>
                                <li><p>Grafana</p></li>
                                <li><p>Arduino</p></li>
                            </ul>
                            <button (click)="
                  openPdf(
                    '..\\assets\\files\\proyecto_LINTI_2023-PREDICCIÓN_DE_ENFERMEDADES_EN_CULTIVOS_AGROECOLÓGICOS.pdf'
                  )
                ">
                                Read More
                            </button>
                        </footer>
                    </div>
                </div>
            </div>
        </li>
        <li class="project">
            <div class="cardP">
                <img class="project-image" src="..\assets\images\PPS.png" />
                <div class="content-displayed">
                    <div class="project-description">
                        <header>
                            <h3 class="card-tittle">
                                Fullstack physical for data storage and management.
                            </h3>
                            <p>
                                Development of a RESTfull client to store data collected by a
                                technical team and then allow them to manipulate that data.
                            </p>
                        </header>
                        <footer>
                            <ul class="technologies-list">
                                <li><p>JAVA</p></li>
                                <li><p>SQL</p></li>
                                <li><p>Jersey</p></li>
                                <li><p>Angular</p></li>
                            </ul>
                            <ul class="technologies-list">
                                <li><p>HTML</p></li>
                                <li><p>CSS</p></li>
                            </ul>
                        </footer>
                    </div>
                </div>
            </div>
        </li>
        <li class="project">
            <div class="cardP">
                <img class="project-image" src="..\assets\images\OTA-img.png" />
                <div class="content-displayed">
                    
                    <div class="project-description">
                        <header>
                            <h3 class="card-tittle">OTA Web for ESP32</h3>
                            <p>
                                A research project for the implementation of OTA (over the air)
                                Web, for ESP32 Mcu, along with the develop of a client to upload
                                a file to de MCU via OTA using Mongo as a database
                            </p>
                        </header>
                        <footer>
                            <ul class="technologies-list">
                                <li><p>C++</p></li>
                                <li><p>Arduino</p></li>
                                <li><p>Python</p></li>
                                <li><p>MongoDB</p></li>
                            </ul>
                        </footer>
                        <button (click)="openPdf('..\\assets\\files\\N6 ESP32 OTA WEB.pdf')">
                            Read More
                        </button>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>