<div class="introduction-content">
    <div class="fade-up-enter" style="transition-delay: 100ms;">
        <h1>Hello World! </h1>
    </div> 
    <div class="fade-up-enter" style="transition-delay: 200ms;">
        <h1>I'm Markos Moscoso.</h1>
    </div>
    <div class="fade-up-enter" style="transition-delay: 300ms;">
        <h1>I'm a Web Developer <h1>based in La Plata, Argentina.</h1></h1>
    </div>
    <div class="fade-up-enter" style="transition-delay: 400ms;">
        <a class="nav-link"  href="#contact">Contact</a>
    </div>
</div>